<main>
    <div class="upper">
        <div class="box">
            <div class="headline" style="width: 100%; border-bottom: 1px solid lightgray;">
                <h3 class="text-gray-500" style="font-weight: 400; text-align: left; padding: 0 0.5em;">Кориснички профил</h3>
            </div>
            <div class="profile-card flex items-center justify-center" style="width: 100%; flex-direction: row;">
                <div class="flex-item" style="align-items: start !important;">
                    <div class="image-container-profile">
                        <img [src]="user?.avatar">
                    </div>
                </div>
                <div class="flex-item">
                    <h1 style="width: 200%; margin: 0 !important;">{{ user?.name }} {{ user?.surname }}</h1>
                </div>
                <div class="flex-item flex justify-center items-center" style="flex-direction: row;">
                    <mat-icon>
                        facebook
                    </mat-icon>
                    <mat-icon>
                        email
                    </mat-icon>
                </div>
            </div>
            <div class="profile-card p-4 text-gray-800" style="text-align: left; width: 100%; border-bottom: 2px solid lightgray;">
                {{ user?.bio }}
            </div>
            <div class="flex-item" *ngIf="orgs.length > 0">
                <h4>Учество во организации, иницијативи и настани:</h4>
                <div class="cards">
                    <div class="small-card" *ngFor="let org of orgs" [routerLink]="['/profile/view/' + org.id]">
                        <div class="image-container">
                            <img [src]="org.photo">
                        </div><br>
                        <span>{{org.name}}</span>
                    </div>
                </div>
            </div>

            <div class="btn p-4" style="width: 100%; border-top: 2px solid lightgray;">
                <a [href]="'mailto:' + user.email"><button mat-raised-button color="primary" style="padding: 0.33em 3em; margin-top: 1em; border: 2px solid black; border-radius: 0px !important;">КОНТАКТ</button></a>
            </div>
        </div>
    </div>

</main>