<main>
        <div class="upper">
            <h1>ИНИЦИЈАТИВИ</h1> <button mat-icon-button class="example-icon" aria-label="icon-button with queue icon" [routerLink]="['/profile/create']">
                <mat-icon>queue</mat-icon>
              </button>
        </div>
        <div class="container nowrap">
            <div class="cardbox wrap">

                <div class="flex-item">
                    <div class="antialiased font-sans">
                        <div class="max-w-6xl mx-auto">
                            <div class="flex items-center justify-center">
                                <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 py-6 px-3">
                                    <div class="bg-white shadow-xl rounded-lg overflow-hidden cursor-pointer">
                                        <div class="bg-cover bg-center h-56 p-4" [ngStyle]="{'background-image': 'url(https://www.pandasecurity.com/en/mediacenter/src/uploads/2013/11/pandasecurity-facebook-photo-privacy.jpg)'}">
                                        </div>
                                        <div class="p-4">
                                            <p class="uppercase tracking-wide text-3xs font-bold text-black-700" style="text-align: initial;">Спас за животните</p>
                                            <p class="text-gray-700 text-gray-900" style="text-align: initial; white-space: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum ex soluta est recusandae? Porro tempore quod officiis hic, dolore blanditiis eum amet excepturi beatae obcaecati laborum fugit tempora odio.</p>
                                        </div>
                                        <div class="flex p-4 border-t border-gray-300 text-gray-700 flexcol" style="justify-content: space-around;">
                                            <div class="flex-1 inline-flex items-center flex-col">
                                                <mat-icon>date_range</mat-icon>
                                                <p><span class="text-gray-900 font-bold">05.05.2021</span></p>
                                            </div>
                                            <div class="flex-1 inline-flex items-center flex-col">
                                                <mat-icon>verified_user</mat-icon>
                                                    
                                                <p><span class="text-gray-900 font-bold">Спасе Спасески</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="link">
                    <a style="text-decoration: underline; color: #0000FF; cursor: pointer; padding-top: 1em;" href="#">Види повеќе...</a>
                </div>
            </div>
        </div>
</main>

<main style="padding-top: 2em;">
    <div class="upper">
        <h1>НАСТАНИ</h1> <button mat-icon-button class="example-icon" aria-label="icon-button with queue icon" [routerLink]="['/profile/create']">
            <mat-icon>queue</mat-icon>
          </button>
    </div>
    <div class="container nowrap">
        <div class="cardbox wrap">
            //TODO: add entities
            <div class="link">
                <a style="text-decoration: underline; color: #0000FF; cursor: pointer; padding-top: 1em;" href="#">Види повеќе...</a>
            </div>
        </div>
    </div>
</main>

<main style="padding-top: 2em;">
    <div class="upper">
        <h1>ОРГАНИЗАЦИИ</h1> <button mat-icon-button class="example-icon" aria-label="icon-button with queue icon" [routerLink]="['/profile/create']">
            <mat-icon>queue</mat-icon>
          </button>
    </div>
    <div class="container nowrap">
        <div class="cardbox wrap" style="border-bottom: none !important;">

            <div class="flex-item">
                <div class="antialiased font-sans">
                    <div class="max-w-6xl mx-auto">
                        <div class="flex items-center justify-center">
                            <div class="max-w-sm w-full sm:w-1/2 lg:w-1/3 py-6 px-3">
                                <div class="bg-white shadow-xl rounded-lg overflow-hidden cursor-pointer">
                                    <div class="bg-cover bg-center h-56 p-4" [ngStyle]="{'background-image': 'url(https://www.pandasecurity.com/en/mediacenter/src/uploads/2013/11/pandasecurity-facebook-photo-privacy.jpg)'}">
                                    </div>
                                    <div class="p-4">
                                        <p class="uppercase tracking-wide text-3xs font-bold text-black-700" style="text-align: initial;">Спас за животните</p>
                                        <p class="text-gray-700 text-gray-900" style="text-align: initial; white-space: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum laborum ex soluta est recusandae? Porro tempore quod officiis hic, dolore blanditiis eum amet excepturi beatae obcaecati laborum fugit tempora odio.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="link">
                <a style="text-decoration: underline; color: #0000FF; cursor: pointer; padding-top: 1em;" href="#">Види повеќе...</a>
            </div>
        </div>
    </div>
</main>