.upper {
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: x-large;
    font-weight: 500;
    padding: 2em;
}

iframe {
    max-width: 100%;
    padding-bottom: 1em;
}