<main>
    <div class="upper">
        <h1>НОВА ОРГАНИЗАЦИЈА / ИНИЦИЈАТИВА / НАСТАН</h1>
        <div class="box">
            <mat-form-field appearance="fill">
                <mat-label>Тип на профил</mat-label>
                <mat-select placeholder="Type" [(ngModel)]="profile.type">
                  <mat-option [value]="this.organisation">
                      Организација
                  </mat-option>
                  <mat-option [value]="this.initiative">
                      Иницијатива
                  </mat-option>
                  <mat-option [value]="this.event">
                      Настан
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Име</mat-label>
                <input matInput type="text" placeholder="Name" [formControl]="name" [(ngModel)]="profile.name" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Категорија</mat-label>
                <mat-select placeholder="Category" [(ngModel)]="profile.category">
                  <mat-option [value]="'Екологија'">
                    Екологија
                  </mat-option>
                  <mat-option [value]="'Животни'">
                    Животни
                  </mat-option>
                  <mat-option [value]="'Студентски организации'">
                    Студентски организации
                  </mat-option>
                  <mat-option [value]="'Активизам'">
                    Активизам
                  </mat-option>
                  <mat-option [value]="'Култура'">
                    Култура
                  </mat-option>
                  <mat-option [value]="'Спорт'">
                    Спорт
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Датум</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="profile.date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Краток опис</mat-label>
                <textarea matInput placeholder="Description" [formControl]="description" [(ngModel)]="profile.description" required></textarea>
            </mat-form-field>
            <div class="image-container">
                <img [src]="profile.photo">
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Профилна фотографија</mat-label>
                <input matInput type="text" placeholder="Photo" [formControl]="photo" [(ngModel)]="profile.photo" required>
            </mat-form-field>
            <div class="btn p-4" style="width: 100%;">
                <button mat-raised-button color="primary" style="padding: 0.33em 3em; margin-top: 1em; border: 2px solid black; border-radius: 0px !important;"><mat-icon>save</mat-icon> КРЕИРАЈ</button>
            </div>
        </div>
    </div>

</main>