<main>
    <div class="upper">
        <h1>РЕЗУЛТАТИ ОД ПРЕБАРУВАЊЕ:</h1>
        <div class="box">
        
            <div class="flex-item orgs" style="border-right: 1px solid lightgray;">
                <h2>Организации:</h2>
                <div class="cards">
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
            </div>
    
            <div class="flex-item events">
                <h2>Настани:</h2>
                <div class="cards">
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
            </div>
    
            <div class="flex-item profiles" style="border-right: 1px solid lightgray; border-top: 1px solid lightgray;">
                <h2>Профили:</h2>
                <div class="cards">
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
            </div>
    
            <div class="flex-item initiatives" style="border-top: 1px solid lightgray;">
                <h2>Иницијативи:</h2>
                    <div class="cards">
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                    <div class="small-card">
                        <div class="image-container">
                            <img src="../../assets/u1.png">
                        </div><br>
                        <span>Lorem ipsum</span>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

</main>